@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 90.2%;
    --card: 26 25% 10%;
    --card-foreground: 0 0% 90.2%;
    --popover: 26 25% 10%;
    --popover-foreground: 0 0% 90.2%;
    --primary: 26 29.5% 49.6%;
    --primary-foreground: 0 0% 90.2%;
    --secondary: 26 25% 15%;
    --secondary-foreground: 0 0% 90.2%;
    --muted: 26 25% 15%;
    --muted-foreground: 0 0% 60%;
    --accent: 26 50% 27.6%;
    --accent-foreground: 0 0% 90.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 26 25% 20%;
    --input: 26 25% 20%;
    --ring: 26 29.5% 49.6%;
    --chart-1: 26 29.5% 49.6%;
    --chart-2: 26 50% 27.6%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 90.2%;
    --card: 26 25% 10%;
    --card-foreground: 0 0% 90.2%;
    --popover: 26 25% 10%;
    --popover-foreground: 0 0% 90.2%;
    --primary: 26 29.5% 49.6%;
    --primary-foreground: 0 0% 90.2%;
    --secondary: 26 25% 15%;
    --secondary-foreground: 0 0% 90.2%;
    --muted: 26 25% 15%;
    --muted-foreground: 0 0% 60%;
    --accent: 26 50% 27.6%;
    --accent-foreground: 0 0% 90.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 26 25% 20%;
    --input: 26 25% 20%;
    --ring: 26 29.5% 49.6%;
    --chart-1: 26 29.5% 49.6%;
    --chart-2: 26 50% 27.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
